/**
 *  This file is part of yamba.
 *
 *  yamba is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  yamba is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with yamba.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
    Tag changes
 */
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0a0a;
    color: #fefefe;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.25rem;
}

/*
    Main content
 */
.main {
    padding-bottom: 4em;
    padding-top: 2em;
}

/*
    Foundation adjustments
 */
.menu, .top-bar {
    background: #2c3840 !important;
}

.menu-text-top {
    color: #dddddd !important;
}

/*
    Navbar
 */
nav.top-bar {
    position: fixed;
    width: 100%;
    height: 2em;
    z-index: 42;
}

.header-font, .header-font:visited {
    color: #bdbdbd;
    height: 2em;
    padding-top: 0.45em !important;
}

.header-font:hover, .header-font:active {
    color: #f5f5f5;
}

a.logo-font, a.logo-font:visited {
    color: #f5f5f5;
    height: 2em;
    font-weight: bold;
    padding-top: 0.45em !important;
}

a.logo-font:hover, a.logo-font:active {
    color: #bdbdbd;
}

li:not(:last-child).divider {
    border-right: 0.1em solid #7d7d7d;
}

/*
    Footer
 */
span.footer-copyright {
    color: #cbcbcb;
}

a.footer-icon, a.footer-icon:visited {
    color: inherit;
}

a.footer-icon:hover, a.footer-icon:active {
    color: #808080;
}

/*
    Flex box sizing
 */
div.settings-container, div.credentials-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.settings-container {
    max-width: 90rem;
}

div.credentials-container {
    max-width: 75rem;
}

/*
    Custom helper classes
 */
span.badge.badge-right {
    float: right;
}

div.flash {
    margin: 0.5rem 0 0.5rem 0 !important;
    text-align: center;
}

label.required {
    color: #152b2b;
    font-weight: bold;
}

label.required:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.input.radius {
    border-radius: 1em;
}

.button.radius {
    border-radius: 0.3em;
}

td.title-button {
    min-width: 32px;
    width: 32px;
    text-align: right;
}

.pointer {
    cursor: pointer;
}

.red-trash {
    color: red;
}