/**
 *  This file is part of yamba.
 *
 *  yamba is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  yamba is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with yamba.  If not, see <https://www.gnu.org/licenses/>.
 */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a0a0a;
    color: #fefefe;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
}

.footer-copyright {
    color: #cbcbcb;
}

a.footer-icon, a.footer-icon:visited {
    color: inherit;
}

a.footer-icon:hover, a.footer-icon:active {
    color: #808080;
}

.menu, .top-bar {
    background: #2c3840 !important;
}

.menu-text-top {
    color: #dddddd !important;
}

li:not(:last-child).divider {
    border-right: 2px solid #2c3840;
}

div.flash {
    margin: 0.5rem 0 0.5rem 0 !important;
    text-align: center;
}

label.required {
    color: #152b2b;
    font-weight: bold;
}

label.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.input.radius {
    border-radius: 15px;
}
.button.radius {
    border-radius: 5px;
}