<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous">
    <script src="static/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="static/bootstrap.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div style="padding: 1em; margin-top: 2em; margin: auto; width: 30%; text-align: center;">
        <form id="tsForm" action="/form/create/ts" method="post">
            <input type="hidden" name="id" value="1">
            <input type="hidden" id="custId" name="name" value="myYAMBAInstance">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Host</span>
                </div>
                <input type="text" name="host" class="form-control" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                <input type="text" name="password" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Port</span>
                </div>
                <input type="number" name="port" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">cID</span>
                </div>
                <input type="number" name="cid" class="form-control" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Create & Run" class="btn btn-primary btn-lg">
        </form>
    </div>
    <div id="alert" style="display:none;" class="alert alert-danger" role="alert">
        TEMP
    </div>

    <script>
        $("#tsForm").submit(function (e) {
            e.preventDefault();
            $(this)
                .find('input')
                .filter(function () {
                    return !this.value;
                })
                .prop('name', '');
            $('#alert').hide();
            $('#alert').empty();
            var form = $(this);
            var url = form.attr("action");
            $.ajax({
                url: url,
                type: "post",
                data: form.serialize(),

            }).done(function (data) {
                console.log(data);
            }).fail(function (data) {
                console.log(data);
                $('#alert').show();
                $('#alert').text(data.responseText);
            });
        })
    </script>

</body>