<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="static/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="static/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <script language="javascript" type="text/javascript">

    </script>
    <div class="d-flex justify-content-center">
        <div class="input-group mb-3" style="margin-top: 2em; margin-left: 2em; margin-right: 2em; max-width: 50em;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">URL</span>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">Add Track</button>
            </div>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-around" style="margin-top: 2em;">
            <div>
                <button type="button" class="btn btn-outline-secondary">loop</button>
                <button type="button" class="btn btn-secondary">Back</button>
                <button type="button" class="btn btn-secondary btn-lg">Play/Pause</button>
                <button type="button" class="btn btn-secondary">Forward</button>
                <button type="button" class="btn btn-outline-secondary">Shuffle</button>
            </div>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-center" style="margin-top: 1em;">
            <div class="form-group">
                <label for="formControlRange">Volume</label>
                <input type="range" class="form-control-range" id="formControlRange">
            </div>
        </div>
    </div>
    <form>
        <div>
            <div class="d-flex justify-content-around" style="margin-top: 2em;">
                <div style="width: 90%;">
                    <label for="exampleFormControlSelect1">Playlist</label>
                    <select multiple class="form-control" id="exampleFormControlSelect1">
                        <option>np</option>
                        <option>+1</option>
                        <option>+2</option>
                        <option>+3</option>
                        <option>+4</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</body>

</html>